
<div class="modal fade" id="EditProdCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">

    <div class="modal-dialog" role="document">
        <div class="modal-content text-center rounded">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pr-5 pl-5 pb-5 pt-0">

                <h5 class="font-weight-normal mb-3" id="GenericModalTitle">Modifier une catégorie de produit</h5>
                <span class="label-error text-danger small" id="error-msg-edit"></span>

                <div class="row">
                        <input type="hidden" class="form-control" id="CategoryID">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nom de la catégorie" id="CategoryName">
                                <span class="label-error text-danger small"></span>
                            </div>
                        </div>

                        @* <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="ProductCategoryImage" style="display:none;" value="@ViewBag.DefaultIcon">

                                <div class="input-group mb-2">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="EditProductCategoryImage" accept="image/*">
                                        <label class="custom-file-label text-left" for="EditProductCategoryImage">Icône de catégorie</label>
                                    </div>
                                    <span id="ProductCategoryImage" class="text-danger small"></span>
                                </div>
                                <div class="spinner-border" role="status" id="imageLoadingUploadProductCategoryImage">
                                    <span class="sr-only">Chargement...</span>
                                </div>
                                <img id="imgPrevEditProductCategoryImage" src="@ViewBag.DefaultIcon" style="width:158px;height:158px;display:block;" />
                            </div>
                        </div> *@

                        <div class="col-sm-12">
                            <div class="form-group">
                                <select class="browser-default custom-select" id="IsEnabled">
                                    <option value="1">Actif</option>
                                    <option value="0">Inactif</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="IsCategoryFeaturedEdit">
                                    <label  for="IsCategoryFeaturedEdit">Catégorie en vedette </label>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn white-button mr-3 btn-padding" data-dismiss="modal">Annuler</button>
                    <button class="btn login-button mr-3 btn-padding" type="button" onclick='editCategory();'>Soumettre</button>
                </div>
            </div>
        </div>
    </div>
</div>
