@{
    ViewData["Title"] = "Modifier le mot de passe";
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">Modifier le mot de passe </h3>
        </nav>
        <form method="post">
            <div class="row mt-3 mb-3">
                <div class="col-sm-6">
                    <a href="#" class="text-primary"><i class="fas fa-long-arrow-alt-left"></i> Retour</a>
                </div>

                <div class="col-sm-6 d-flex justify-content-end">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="IsActive">
                        <label class="custom-control-label red-text font-weight-bold" for="IsActive" id="lblActive">Inactif</label>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Mot de passe actuel</label>
                                <input type="password" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Nouveau mot de passe</label>
                                <input type="password" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Confirmer le mot de passe</label>
                                <input type="password" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-sm-12">
                            <a class="btn white-button mr-3 btn-padding" href="#">Annuler</a>
                            <button class="btn login-button mr-3 btn-padding" type="submit">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
