@using PharmaMoov.Models.Shop
@model PharmaMoov.Models.Shop.ShopFAQdto
@{
    ViewData["Title"] = "Modifier la FAQs";
    Layout = "~/Views/Shared/_SALayout.cshtml";
}
<partial name="~/Views/Shared/_GenericModal.cshtml" />
<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">FAQs</h3>
        </nav>
        <div class="card">
            <div class="card-body">
                <form asp-action="EditFAQ" asp-controller="FAQs" method="post">
                    <input type="hidden" asp-for="ShopFAQID" />
                    <div class="form-group mt-4 mb-4">
                        <label class="col-form-label control-label" asp-for="Question">Question</label>
                        <input type="text" class="form-control" asp-for="Question">
                        <span asp-validation-for="Question" class="label-error text-danger small"></span>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <label class="col-form-label control-label" asp-for="Answer">Réponse</label>
                        <textarea asp-for="Answer" class="form-control" rows="3" onKeyDown="limitText(this.form.ShopTags,this.form.countdown2,150);"
                                  onKeyUp="limitText(this.form.ShopTags,this.form.countdown2,150);"></textarea>
                        <span asp-validation-for="Answer" class="label-error text-danger small"></span>
                        @*<div>
            <font size="1">
                Nombre de caractères maximum : 150<br />
                Il reste <input readonly type="text" name="countdown2" size="3" value="150"> caractères.
            </font>
        </div>*@
                    </div>
                    @*<div class="form-group mt-5 mb-5">
                            <button class="btn btn-padding login-button btn-danger w-15">Supprimer</button>
                        </div>*@
                    <div class="form-group mt-5 mb-5">
                        <button type="submit" class="btn login-button btn-padding w-15">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#customSwitch1").change(function () {
                if ($(this).prop("checked") == true) {
                    $("#IsEnabled").val("true");
                    $("#lblActive").text("Actif");
                    $("#lblActive").removeClass("red-text");
                } else {
                    $("#IsEnabled").val("false");
                    $("#lblActive").text("Inactif");
                    $("#lblActive").addClass("red-text");
                }
            });

            var showModal = $("#ShowGenericModal").val();
            if (showModal == 1) {
                $("#GenericModal").modal('show');
                $("#successIcon").show();
                $("#successBtn").show();
            }

            $("#GenericModal").on('hidden.bs.modal', function () {
                if (showModal == 1) {
                    window.location.replace("/FAQs/Index");
                }
            });


            //validate hidden fields
            $.validator.setDefaults({
                ignore: []
            });
        });
    </script>
}