@model PharmaMoov.Models.Shop.ShopProfile

@{
    ViewData["Title"] = "View Pharmacy Request";
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<partial name="~/Views/Shared/_GenericModal.cshtml" />

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4 mt-3">View Pharmacy Request</h3>
        </nav>

        <div id="closeablecard" class="card card-hover-shadow mt-4">
            <div class="card-header bg-transparent border-bottom-0 mt-4">
            </div>

            <div class="card-body mt-n5">
                <h5 class="card-title">View Pharmacy Request</h5>
                <hr />

                <form asp-action="EditProfile" method="post">

                    <input type="text" asp-for="ShopRecordID" style="display:none;">

                    <div class="form-group row required">
                        <label class="col-sm-3 col-form-label control-label">Nom de la boutique :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Nom de la boutique" asp-for="ShopName">
                            <span asp-validation-for="ShopName" class="text-danger small"></span>
                        </div>
                    </div>

                    @*<div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Description de la boutique :</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="4" asp-for="Description" onKeyDown="limitText(this.form.Description,this.form.countdown1,1000);"
                                      onKeyUp="limitText(this.form.Description,this.form.countdown1,1000);"></textarea>
                            <div>
                                <font size="1">
                                    (Maximum characters: 1000)<br>
                                    You have <input readonly type="text" name="countdown1" size="3" value="1000"> characters left.
                                </font>
                            </div>
                            <span asp-validation-for="Description" class="text-danger small"></span>
                        </div>
                    </div>*@

                    @*<div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Logo de la pharmacie :</label>
                        <input type="text" asp-for="ShopIcon" style="display:none;">

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="UploadShopIcon" accept="image/*">
                                    <label class="custom-file-label" for="UploadShopIcon">Choisir fichier</label>
                                </div>
                                <span asp-validation-for="ShopIcon" class="text-danger small"></span>
                            </div>
                            <small class="form-text text-muted">
                                (Requirements: Type JPG/JPEG, PNG / Max. Size 150KB, Dimension 300px x 300px)
                            </small>
                            <div class="spinner-border" role="status" id="imageLoadingUploadShopIcon">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <img id="imgPrevUploadShopIcon" style="width:300px;height:300px;display:none;" />
                        </div>
                    </div>

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Photo de bannière :</label>
                        <input type="text" asp-for="ShopBanner" style="display:none;">

                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="UploadShopBanner" accept="image/*">
                                    <label class="custom-file-label" for="UploadShopBanner">Choisir fichier</label>
                                </div>
                                <span asp-validation-for="ShopBanner" class="text-danger small"></span>
                            </div>
                            <small class="form-text text-muted">
                                (Requirements: Type JPG/JPEG, PNG / Max. Size 150KB, Dimension 355px x 120px)
                            </small>
                            <div class="spinner-border" role="status" id="imageLoadingUploadShopBanner">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <img id="imgPrevUploadShopBanner" style="width:355px;height:118px;display:none;" />
                        </div>
                    </div>*@

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Adresse électronique :</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" placeholder="example@example.com" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Prénom du pharmacien :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" asp-for="OwnerFirstName" placeholder="Prénom">
                            <span asp-validation-for="OwnerFirstName" class="text-danger small"></span>
                        </div>

                        <label class="col-sm-3 col-form-label control-label">Nom de famille du pharmacien :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" asp-for="OwnerLastName" placeholder="nom de famille">
                            <span asp-validation-for="OwnerLastName" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Numéro de téléphone :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="+33 0176896545" asp-for="TelephoneNumber">
                            <span asp-validation-for="TelephoneNumber" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Adresse de la boutique :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Adresse de la boutique" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Suite Adresse (Optional) :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Suite Adresse" asp-for="SuiteAddress">
                            <span asp-validation-for="SuiteAddress" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Code postal :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Code postal" asp-for="PostalCode">
                            <span asp-validation-for="PostalCode" class="text-danger small"></span>
                        </div>

                        <label class="col-sm-1 col-form-label control-label pr-md-0 pl-md-0">Ville :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Ville" asp-for="City">
                            <span asp-validation-for="City" class="text-danger small"></span>
                        </div>
                    </div>

                    @*<div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Longitude :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Latitude" asp-for="Longitude" readonly>
                            <span asp-validation-for="Longitude" class="text-danger small"></span>
                        </div>

                        <label class="col-sm-1 col-form-label control-label pr-md-0 pl-md-0">Latitude :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Longitude" asp-for="Latitude" readonly>
                            <span asp-validation-for="Latitude" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-4 mb-4">
                        <label class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <div id="map" style="height: 300px;"></div>
                        </div>
                    </div>*@

                    <div class="form-group row required mt-4 mb-4">
                        <label class="col-sm-3 col-form-label control-label">Numéro KBIS :</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Numéro KBIS" asp-for="KbisNumber">
                            <span asp-validation-for="KbisNumber" class="text-danger small"></span>
                        </div>
                    </div>

                    <div class="form-group row mt-5 mb-5">
                        <div class="col-sm-12 text-center">
                            <a class="btn white-button mr-3 btn-padding" href="~/ShopMgt/ShopRequest">Retour</a>
                            @*<button type="submit" class="btn login-button mr-3 btn-padding">Soumettre</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#UploadShopIcon").change(function () {
            validateShopImageFiles("UploadShopIcon");
        });

        //Banner upload
        $("#UploadShopBanner").change(function () {
            //$("#UploadImageLinkTextLabel").text("Choisir fichier");
            validateShopImageFiles("UploadShopBanner");
        });

        $(document).ready(function () {
            //Preview of Uploaded Images
            $("#imageLoadingUploadShopIcon").hide();
            $(".spinner-border").hide();

            var shopIcon = $("#ShopIcon").val();
            if (shopIcon != "") {
                $("#imgPrevUploadShopIcon").attr("src", shopIcon);
                $("#imgPrevUploadShopIcon").show();
            }

            var ShopBanner = $("#ShopBanner").val();
            if (ShopBanner != "") {
                $("#imgPrevUploadShopBanner").attr("src", ShopBanner);
                $("#imgPrevUploadShopBanner").show();
            }

        });

        function saveShop() {
            //validate shop address from Stuart API
            var address = $("#Address").val();
            var phone = $("#MobileNumber").val();

            if (address != '') {
                $.ajax(
                    {
                        type: 'GET',
                        url: BASEPATH + '/ShopMgt/ValidateShopAddress',
                        contentType: 'application/json',
                        data: {
                            '_shop': address,
                            '_phone': phone
                        },
                        beforeSend: function () {
                            $("#GenericModal").modal('show');
                            $("#GenericModalTitle").text("Adresse en cours de validation");
                            $("#savingGenericLoader").show();
                            $("#errorIcon").hide();
                            $("#successIcon").hide();
                            $("#errorBtn").hide();
                            $("#successBtn").hide();
                        },
                        success: function (result) {
                            $("#GenericModal").modal('show');
                            $("#savingGenericLoader").hide();

                            if (result == true) {
                                $("#savingGenericLoader").show();
                                $("#successIcon").hide();
                                $("#errorIcon").hide();
                                $("#errorBtn").hide();
                                $("#successBtn").hide();
                                $("#GenericModalTitle").text("Votre adresse a été validée. En cours de sauvegarde");

                                setTimeout(function () {
                                    document.querySelector('form').submit();
                                }, 3000);
                            }
                            else {
                                $("#GenericModalTitle").text("L'adresse n'a pas été validée. Merci d'essayer à nouveau");
                                $("#errorIcon").show();
                                $("#errorBtn").show();
                                $("#successBtn").hide();
                            }
                        },
                        failed: function (e, x, h) {
                            console.log(e); console.log(h); console.log(x);
                        }
                    }
                );
            }
        }

        (function () {
            setTimeout(() => {

                var ulat = parseFloat($('#Latitude').val());
                var ulng = parseFloat($('#Longitude').val());
                var location = { lat: ulat, lng: ulng };

                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 17, center: location });
                currentMarker = new google.maps.Marker({ position: location, map: map });

                // set default values inside the modal
                $('#Latitude').val(ulat);
                $('#Longitude').val(ulng);

                google.maps.event.addListener(map, "click", function (e) {

                    //lat and lng is available in e object
                    var latLng = e.latLng;

                    // reset marker when clicked on map
                    var newPosition = { lat: latLng.lat(), lng: latLng.lng() };
                    currentMarker.setMap(null);
                    currentMarker = new google.maps.Marker({ position: newPosition, map: map });

                    // set form values inside the modal
                    $('#Latitude').val(newPosition.lat);
                    $('#Longitude').val(newPosition.lng);

                });

            }, 1000);
        })();

    </script>
}
