@model PharmaMoov.Models.Admin.AdminForgotPassword

@{
    ViewData["Title"] = "Mot de passe oublié";
    Layout = "~/Views/Shared/_Startup.cshtml";
}

<div class="container">
    <div class="Login">

        <form class="text-center" asp-action="ForgotPassword" method="post">
            <img src="~/img/logo.png" class="img-fluid mb-5" />
            <h3><b>PharmaMoov</b></h3>
            <p>S'il te plaît Entrez votre adresse mail </p>

            <span asp-validation-for="Email" class="label-error text-danger small"></span>
            <span class="label-error text-danger small">@TempData["ErrorMessage"]</span>

            <div class="md-form md-outline">
                <input type="email" class="form-control custom-form mb-4" placeholder="Addresse e-mail" asp-for="Email">
                <span class="far fa-envelope field-icon"></span>
            </div>

            <button class="btn login-button mb-4 w-100" type="submit">Mettre à jour </button>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    </script>
}